@import 'fonts.css';

:root {
  font-family: PingFangSC, SmileySans, sans-serif;
  line-height: 1.5;
  font-weight: 500;
  font-size: 14px;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  /*background-color: #0e1015;*/

  background: #0e1015; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #243b55, #202020, #141e30, #232526); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #243b55, #202020, #141e30, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  background-size: 500% 500%;
  animation: gradientBG 4500ms ease infinite;

  user-select: none;
  -webkit-user-select: none;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  padding: 0 12px;
}

@keyframes gradientBG {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
